<h1>Add new course</h1>

{{#if error}}
	<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="post" novalidate>
	<div class="input-field">
		<input id="title" name="title" type="text" class="validate" required value="{{data.title}}"/>
		<label for="title">Course name</label>
		<span class="helper-text" data-error="Add title"></span>
	</div>
	<div class="input-field">
		<input
			id="price"
			name="price"
			type="number"
			class="validate"
			required
			min="10"
			value="{{data.price}}"
		/>
		<label for="price">Course price</label>
		<span class="helper-text" data-error="Add price"></span>
	</div>
	<div class="input-field">
		<input id="img" name="img" type="text" class="validate" required value="{{data.img}}"/>
		<label for="img">URL image</label>
		<span class="helper-text" data-error="Add URL image"></span>
	</div>
	<button class="btn btn-primary">Add course</button>
</form>